<body>
  <div class="profile-container">
    <div class="card shadow">
      <label for="profilePicture" class="profile-picture">
        <img
          *ngIf="profileImageUrl"
          [src]="profileImageUrl"
          alt="Avatar"
        />
        <input
          id="profilePicture"
          type="file"
          (change)="onProfilePictureSelected($event)"
          accept="image/*"
          style="display: none;"
        />
      </label>
      <div class="profile-details">
        <button class="update-profile-btn" (click)="updateProfilePicture()">Update Profile Picture</button>
        <h2 class="username">{{ userdata.username }}</h2>
        <p class="email">{{ userdata.email }}</p>
        
      </div>
    </div>
  </div>
</body>