<app-header></app-header>
<div class="container mt-4 mb-5">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-12 col-xl-11">
      <div
        class="card text-black shadow p-3 mb-5 bg-body"
        style="border-radius: 25px"
      >
        <div class="card-body p-md-5">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                Sign up
              </p>

              <form #signupForm="ngForm">
                <label
                  class="form-label fs-6 fw-bold text-black-50"
                  for="username"
                  >Username</label
                >
                <input
                  type="text"
                  placeholder="Username"
                  required
                  [(ngModel)]="userdata.username"
                  #username="ngModel"
                  [class.is-invalid]="
                    (username.invalid && username.touched) || usernameExists
                  "
                  name="username"
                  class="form-control form-control-lg col-sm-12 rounded-3 border border-black border-1"
                />
                <br />

                <div
                  *ngIf="username.invalid && username.touched"
                  class="invalidMessage"
                >
                  Username is required
                </div>

                <div
                  *ngIf="usernameExists && username.pristine"
                  class="invalidMessage"
                >
                  Username is already taken
                </div>

                <br />

                <label class="form-label fs-6 fw-bold text-black-50" for="email"
                  >Email</label
                >
                <input
                  type="email"
                  placeholder="Email"
                  required
                  [(ngModel)]="userdata.email"
                  #email="ngModel"
                  [class.is-invalid]="email.invalid && email.touched"
                  name="email"
                  class="form-control form-control-lg col-sm-12 rounded-3 border border-black border-1"
                />
                <br />
                <div
                  *ngIf="email.invalid && email.touched"
                  class="invalidMessage"
                >
                  Email is required
                </div>

                <br />

                <label
                  class="form-label fs-6 fw-bold text-black-50"
                  for="password"
                  >Password</label
                >
                <input
                  type="password"
                  placeholder="Password"
                  required
                  [(ngModel)]="userdata.password"
                  #password="ngModel"
                  [class.is-invalid]="password.invalid && password.touched"
                  name="password"
                  class="form-control form-control-lg col-sm-12 rounded-3 border border-black border-1"
                />
                <br />
                <div
                  *ngIf="password.invalid && password.touched"
                  class="invalidMessage"
                >
                  Password is required
                </div>

                <br />
                <div class="text-center">
                  <button
                    [disabled]="signupForm.form.invalid"
                    [class.btnEnabled]="signupForm.form.valid"
                    (click)="signup()"
                    type="submit"
                  >
                    Sign Up
                  </button>
                </div>
              </form>
            </div>
            <div
              class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
            >
              <img
                src="../../assets/icons/signup.png"
                class="img-fluid"
                alt="Signup image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
