<div class="header-bg pt-2 pb-2" style="background-color: #3c6e71">
  <a href="#">
    <img
      src="../assets/Logo/logo.png"
      alt="Logo"
      width="50px"
      height="40px"
      class="mx-3"
    />
  </a>

  <div class="dropdown">
    <button
      type="button"
      class="btn btn-secondary dropdown-toggle bg-transparent mx-2 border-0"
      id="dropdown1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        class="icon bg-dark-subtle rounded-circle"
        src="../assets/icons/person-circle.svg"
        alt="profile icon"
        height="30px"
        width="30px"
      />
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdown1">
      <li>
        <a
          routerLink="/profile"
          routerLinkActive="active"
          class="dropdown-item dropdown-item-end"
        >
          Profile
        </a>
      </li>
      <li>
        <a class="dropdown-item dropdown-item-end" href="#"> Settings </a>
      </li>
      <li>
        <a
          routerLink="/login"
          routerLinkActive="active"
          class="dropdown-item dropdown-item-end"
          href="#"
        >
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>
