.header-bg {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.icon{
  width: 2rem;
  height: 2rem;
}

.btn {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}

.leftElements{
  order: -1;
}

.rightElements{
  display: flex;
}
