<app-header
  [highlightChatBox]="highlightChatBox"
  [highlightedIndex]="highlightedIndex"
  (highlightChatBoxChange)="handleHighlightChatBoxChange($event)"
  (highlightedIndexChange)="handleHighlightIndexChange($event)"
  (newConversationCreated)="handleNewConversation($event)"
  class="fixed-top"
></app-header>
<div class="main-container">
  <aside class="left-side">
    <app-search (searchValueChanged)="onSearchTextEntered($event)"></app-search>
    <div class="body-container">
      <div class="chat-list">
        <div
          *ngFor="let conversation of conversations; let i = index"
          class="chat-box"
          [class.active]="i === highlightedIndex"
          (click)="chatBoxClicked(i)"
        >
          <div class="chat-details">
            <div class="chat-title">
              <h4>{{ conversation.name }}</h4>
              <span
                class="chat-time"
                *ngIf="getLatestMessageTime(conversation.messages)"
                >{{ getLatestMessageTime(conversation.messages) }}</span
              >
            </div>
            <div
              class="chat-msg"
              [class.bold-message]="
                getLatestMessage(conversation.messages)?.status
              "
            >
              <p>
                {{ getLatestMessage(conversation.messages) }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <section class="content-container">
    <div class="content">
      <div class="content-header">
        <div class="content-chat-details">
          <h5 class="content-chat-title">
            {{
              conversations[highlightedIndex]?.name ||
                newConversation?.name ||
                "No conversation selected"
            }}
          </h5>
        </div>
      </div>
      <div #messageBox class="message-box">
        <div
          class="message-container"
          *ngFor="let msg of conversations[highlightedIndex]?.messages"
        >
          <p class="msg-username">{{ msg.senderUsername }}</p>
          <p class="msg-content">{{ msg.message }}</p>
          <p class="msg-time text-muted">
            {{ msg.sentAt | date : "shortTime" }}
          </p>
        </div>
      </div>

      <div class="content-bottom-section">
        <div *ngIf="highlightChatBox" class="send-message">
          <input
            [(ngModel)]="newMessage"
            (keydown.enter)="sendMessage()"
            type="text"
            placeholder="Type message"
          />
          <button (click)="sendMessage()" style="border: none">
            <i class="fa fa-send-o"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
